body{
    font-family:'Quicksand', sans-serif;
    font-size: 150%;
    color: cornsilk;
    padding: 0;
    margin: 0;
    
    background-color: black;
}

button{
    color: white;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 2px;
    transform: scale(2);
    cursor: pointer;
}

h1 {
    font-family: 'Dancing Script', cursive;
    border: 1px solid rgb(189, 189, 189);
    padding: 0.3em 0.7em;
    margin:0;
    margin-left: -2em;
}

ul{
    list-style-type: none;
    margin: 0;
}

li{
    padding: 0.5em 1em;
    margin:0;
    cursor: pointer;
}

#topNav {
    width: 100vw;
    background-color: rgb(14, 20, 73);
    min-height: 13vh;
    max-height: 13vh;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}

#topNav #topNav-list {
    display: flex;
}

#topNav #topNav-list .nested {
    display: none;
    position: absolute;
    margin:0;
    padding: 0;
}


